*.pyc
*.swo
*.swp
/cdn/assets/js/ckeditor_src/_dev/releaser/release/*.*

/.Python
/.ropeproject
/build
/lib
/src
/include
/bin

radiocicletta-server/django
radiocicletta-server/djangotoolbox
radiocicletta-server/djangoappengine
radiocicletta-server/autoload
radiocicletta-server/dbindexer
radiocicletta-server/pytz
radiocicletta-server/.gaedata
radiocicletta-server/.gaedata/*
