{% extends "blog/default.html" %}
{% block pagetitle %}Aiutaci{% endblock %}
{% block bodybaronair %}
{% endblock %}

{% block bodyheader %}{% endblock %}

{% block bodyleft %}
<article>
    <h2>Aiutaci</h2>
    <p>Mandare avanti un progetto di radio richiede molte energie, tempo e competenze. Questo è ancora più vero se si tratta di <strong>un progetto senza scopo di lucro</strong>, indipendente da major, e aziende, proprio come Radiocicletta. Tutto l'aiuto del mondo, diretto o indiretto, è sicuramente utile e apprezzato. Se vuoi darci il tuo appoggio puoi farlo in molti modi.</p>
    <h2>Propaganda!</h2>
    <p><strong>Passa questo blog</strong> ad amici e nemici, fai girare la voce!</p>
    <p><strong>Scrivici</strong> all’indirizzo <a href="mailto:radiocicletta@gmail.com">radiocicletta@gmail.com</a>, se hai idee, suggerimenti, o anche solo per fare un saluto!
    Hai un account su <a href="http://lastfm.it">last.fm</a>? Allora <a href="http://www.last.fm/group/Radiocicletta">iscriviti al nostro gruppo</a>.</p>
    <h2>Materiale utile</h2>
    <p>Abbiamo bisogno di <strong>materiale</strong>, <strong>contatti</strong>, <strong>informazioni</strong> utili. Hai strumentazione audio (semi)professionale in buono stato e a prezzi irrisori (cavetteria, microfoni, cuffie, monitor, amplificatori o mixer e/o altro)? Avete CD/cassette/vinile in buono stato o sai dove trovarne (possibilmente nella zona di Pisa e dintorni)? Contattaci, descrivendoci la tua offerta.</p>
    <h2>Fatti conoscere!</h2>
    <p>Sei studente a Pisa, hai<strong> esperienze radiofoniche</strong> precedenti, o semplicemente hai voglia di metterti in gioco? Proponici le tue idee! Cerchiamo collaboratori con un po’ di tempo da perdere insieme a noi, con zero pretese monetarie, con o senza esperienza, basta avere la mente sveglia e una buona parlantina.</p>
    <p>Sei <strong>esperto nel settore audio</strong>, con competenze nel campo di registrazione/trasmissione in studio e vuoi offrire un po' del tuo tempo e conoscenze? Abbiamo una parte tecnico/logistica da gestire in modo decente, ogni consiglio non può che aiutarci a migliorare.</p>
</article>
{% endblock %}
