{% extends "default.html" %}
{% block pagetitle %}Downloads{% endblock %}
{% block bodybaronair %}
{% endblock %}

{% block bodyheader %}{% endblock %}

{% block content %}
<article>
    <h2>Download</h2>
    <p>Porta con te Radiocicletta!! Da oggi sara più facile ascoltare RadioCicletta con la nuova App per Android</p><p>
            <a href="https://play.google.com/store/apps/details?id=play.radiocicletta" target="_blank"><img src="http://www.deltadoc.eu/download/Campagna_caroni_2012/logo-google-play.png" style="padding:0px; background:none; border:0px; box-shadow:0px 0px 0px" width="300px" /></a></p>
    <p>
    Aiutaci a migliorare: se trovi errori o vuoi suggerire dei miglioramenti 
    contattaci su developer@radiocicletta.it</p>
</article>
{% endblock %}
