{% extends "blog/default.html" %}
{% block pagetitle %}Downloads{% endblock %}
{% block bodybaronair %}
{% endblock %}

{% block bodyheader %}{% endblock %}

{% block bodyleft %}
<article>
    <h2>Download</h2><br/>
    Porta con te Radiocicletta!!
    da oggi sara più facile ascoltare radiocicletta con i nuovi software per Android 2.1 , Mac OS X e Windows<br/>
    <img src="http://radiocicletta-static.appspot.com/images/download/SCR_mac.png" width="100px"><img src="http://radiocicletta-static.appspot.com/images/download/SCR_andr1.png" width="100px" style="margin-left:26px"><img src="http://radiocicletta-static.appspot.com/images/download/SCR_andr2.png" width="100px" style="margin-left:26px"><img src="http://radiocicletta-static.appspot.com/images/download/SCR_andr3.png" width="100px" style="margin-left:26px">
    x mac e windows x Android
    
    <div id="android">
    	<img src="http://radiocicletta-static.appspot.com/images/download/AndroidSH.png" width="50" style="margin-left:26px"><br/>
    	<a href="http://s5.histats.com/stats/r.php?1686508&100&29539&urlr=&www.radiocicletta.ithttp://radiocicletta-static.appspot.com/app/Android/Radiocicletta.apk"><img src="image/download/download_button.png"></a><br/>
    </div>
    
    <div id="apple">
    	<img src="http://radiocicletta-static.appspot.com/images/download/Apple.png" width="50px" style="margin-left:26px"><br/>
    	<a href="http://s5.histats.com/stats/r.php?1686508&100&29541&urlr=&www.radiocicletta.ithttp://radiocicletta-static.appspot.com/app/Flash/Radiocicletta.dmg"><img src="image/download/download_button.png" ></a><br/>
    	<span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 8px;">v 1.0.2</span><br/>
    </div>
    
    <div id="windows">
    	<img src="http://radiocicletta-static.appspot.com/images/download/Windows.png" width="50px" style="margin-left:26px"><br/>
    	<a href="http://s5.histats.com/stats/r.php?1686508&100&29540&urlr=&www.radiocicletta.ithttp://radiocicletta-static.appspot.com/app/Flash/Radiocicletta.air"><img src="image/download/download_button.png" ></a><br/>
    	<span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 8px;">v 1.0.2</span><br/>
    </div>
    
    Per Windows e Mac potrebbe richiedere l'installazione di <a href="http://get.adobe.com/it/air/">Adobe AIR</a><br/><br/>
    <span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 8px;">
    Aiutaci a migliorare!! se rivele errori o vuoi suggerire dei miglioramenti contattaci su radiocicletta@gmail.com</span>
</article>
{% endblock %}
