{% extends "blog/one.html" %}
{% block pagetitle %}Radiocicletta{% endblock %}
{% block headstyle %}
<link rel="stylesheet" type="text/css" href="http://cdndev.radiocicletta.it/bxSlider/bx_styles/bx_styles.css" />
{% endblock %}
{% block headscript %}
<script type="text/javascript" src="http://cdndev.radiocicletta.it/bxSlider/jquery.bxSlider.min.js" ></script>
<script type='text/javascript' src='http://cdndev.radiocicletta.it/libs/jquery-ui-1.8.4.custom.min.js'></script>
<script type="text/javascript" src="http://cdndev.radiocicletta.it/picasa/slimbox2.js"></script>
<script type="text/javascript" src="http://cdndev.radiocicletta.it/picasa/jquery.EmbedPicasaGallery.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
 				jQuery("#pics").EmbedPicasaGallery('radiocicletta',{
    			matcher: /./,
    			size: 130,
    			loading_animation: 'http://cdndev.radiocicletta.it/picasa/css/loading.gif',
    			album_title_tag: '<h3/>',
 				})
			}) 
</script>


{% endblock %}
{% block bodybaronair %}
<div id="onair">
 <h2>Ora in onda:</h2>
 <div id="nellaria"></div><h2 style=" margin-left:40px; margin-right:10px;"> A seguire:</h2><div id="offair-prog"></div>
</div>
<div id="playnow">
    <a onclick="openPopUp('http://s5.histats.com/stats/r.php?1686508&100&29542&urlr=&dev.radiocicletta.it/jPlayer/player.htm','_new','channelmode=no,directories=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=520,height=550')" href="javascript:void(0)">play now</a>
</div>

{% endblock %}

{% block bodyheader %}<script type='text/javascript'>$(document).ready(function(){inonda();});</script> {% include "blog/headmenu.html" %}{% endblock %}


{% block bodyleft %}
<div class="content">
 <noscript>
	<h2>Questa pagina ha bisogno di javascript per funzionare!</h2><br/>
	controlla che il tuo browser lo supporti ed eventualmente procuratene uno adatto.<br/>
	Noi di Radiocicletta ti suggeriamo <br/><a href="http://www.getfirefox.it"><img src="http://www.getfirefox.it/ff/firefox2-bl.png" border="0" alt="Firefox" /></a> 
 </noscript>
 <h2>Foto gallery di Radiocicletta</h2>
 <br/><br/>
 <div id="pics"></div>
</div>
{% endblock %}
