{% extends "blog/default.html" %}
{% block pagetitle %}Home{% endblock %}
{% block bodybaronair %}
{% endblock %}

{% block bodyheader %}{% endblock %}

{% block bodyleft %}
        <section>
            <h2><a href="">Blog Article 2 test</a></h2>
            <ul class="articleinfo">
                <li>Di: <a href="">Author</a></li>
                <li>
                    22 Apr 1979
                </li>
                <li>
                	<a href="">Commenti</a>
                </li>
            </ul>
            <p><img src="http://userserve-ak.last.fm/serve/126/61192749.jpg"/>I'm in the shizzle ipsizzle dolor sit amizzle, consectetuer i saw beyonces tizzles and my pizzle went crizzle pimpin'. Nullam fo shizzle velizzle, bow wow wow volutpizzle, suscipizzle quizzle, hizzle vizzle, arcu. Cool eget mah nizzle.</p> <p><a href="http://www.facebook.com">Sed erizzle</a>. Fusce izzle da bomb fo shizzle <a href="http://www.gino.com">mah nizzle</a> fo rizzle, mah home g-dizzle turpis tempus dizzle. Maurizzle mammasay mammasa mamma oo sa ghetto izzle sheezy. Dizzle izzle tortizzle. Sure mofo rhoncus mah nizzle. In brizzle gangster ass dictumst. Ma nizzle dapibizzle. Curabitizzle break yo neck, yall urna, pretium shiz, mattizzle ghetto, fizzle gangsta, nunc. Shit shiznit. Gangster semper fo shizzle sizzle purus. <a href="" class="readmore">Leggi l'articolo completo»</a></p>
        </section>
{% endblock %}
{% block bodyright %}{% endblock %}
