{% extends "default.html" %}
{% load blog %}
{% block pagetitle %}Home{% endblock %}
{% block bodybaronair %}
{% endblock %}
{% block showcase %}

{% if current_show %}
<div id="showcasecontainer">
    <div id="showcase">
        <a href="http://{{ current_show.blog.url_stripped }}.radiocicletta.it" class="pictbig">
            <img data-src="{{ current_show.blog.get_logo.url }}" data-thumbnail="l"/>
        </a>
        <div class="rightbox">
            <span class="firstrow onair">Ora in onda ({{current_show.onair.start_hour|time:"H:i"}} - {{current_show.onair.end_hour|time:"H:i"}}):</span>
            <a class="secondrow" href="http://{{current_show.blog.url_stripped}}.radiocicletta.it"><strong>{{current_show.title|capfirst}}</strong></a>
            <span class="thirdrow">{{current_show.descr}}</span>
            <div>
            {% if next_show %}
                <div class="pictsmall">
                    <img data-src="{{ next_show.blog.get_logo.url }}" data-thumbnail="s"/>
                </div>
                <div class="fourthrow">
                <span>A seguire ({{next_show.start_hour|time:"H:i"}} - {{next_show.end_hour|time:"H:i"}})</span>
                    <a href="http://{{next_show.blog.url_stripped}}.radiocicletta.it"><strong>{{next_show.title|capfirst}}</strong></a>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}

</div>
{% endblock %}
{% block content %}
    {% for post in recent_posts %}
        {% include "blog/post_list_2.html" %}
    {% endfor %}
{% endblock %}
{% block bodyright %}{% endblock %}
