{% extends "default.html" %}
{% load blog %}
{% block pagetitle %}Home{% endblock %}
{% block bodybaronair %}
{% endblock %}
{% block showcase %}

{% if current_show %}
<div id="showcasecontainer">
    <div id="showcase">
        <a href="{{ current_show.blog.url }}" class="pictbig">
            <img src="{{ current_show.blog.get_logo.url }}" />
        </a>
        <div class="rightbox">
            <span class="firstrow onair">Ora in onda ({{current_show.startora}} - {{current_show.endora}}):</span>
            <a class="secondrow" href="{{current_show.blog.url}}"><strong>{{current_show.title|capfirst}}</strong></a>
            <span class="thirdrow">{{current_show.descr}}</span>
            <div>
            {% if next_show %}
                <div class="pictsmall">
                    <img src="{{ next_show.blog.get_logo.url }}" />
                </div>
                <div class="fourthrow">
                <span>A seguire ({{next_show.startora}} - {{next_show.endora}})</span>
                    <a href="{{next_show.blog.url}}"><strong>{{next_show.title|capfirst}}</strong></a>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}

</div>
{% endblock %}
{% block bodyleft %}
    {% for post in recent_posts %}
        {% include "blog/post_list_2.html" %}
    {% endfor %}
{% endblock %}
{% block bodyright %}{% endblock %}
