<div class="content">
            
<!--------------- Podcast---------------------->				
<div id="podcast">
					<h2>Podcast</h2>
					<div><object width="100%" height="100"><param name="movie" value="http://www.mixcloud.com/media/swf/player/mixcloudLoader.swf?feed=http%3A%2F%2Fwww.mixcloud.com%2Fradiocicletta%2F%3Flimit%3D10&amp;embed_uuid=fb9d8bfa-d7f5-4082-b39a-188c08717d61&amp;embed_type=widget_standard">
						<param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always">
						<embed src="http://www.mixcloud.com/media/swf/player/mixcloudLoader.swf?feed=http%3A%2F%2Fwww.mixcloud.com%2Fradiocicletta%2F%3Flimit%3D10&amp;embed_uuid=fb9d8bfa-d7f5-4082-b39a-188c08717d61&amp;embed_type=widget_standard" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="100%" height="100">
						</object><div style="clear:both; height:3px;"></div><p style="display:block; font-size:12px; font-family:Helvetica, Arial, sans-serif; margin:0; padding: 3px 4px; color:#999;"><a href="http://www.mixcloud.com/radiocicletta/#utm_source=widget&amp;amp;utm_medium=web&amp;amp;utm_campaign=base_links&amp;amp;utm_term=resource_link" target="_blank" style="color:#02a0c7; font-weight:bold;">Radiocicletta's Cloudcasts</a><span> on </span><a href="http://www.mixcloud.com/#utm_source=widget&amp;utm_medium=web&amp;utm_campaign=base_links&amp;utm_term=homepage_link" target="_blank" style="color:#02a0c7; font-weight:bold;"> Mixcloud</a></p>
						<div style="clear:both; height:3px;"></div></div>
						<br/><a href="http://www.mixcloud.com/radiocicletta/">more...</a>
						
</div>
                
<!--------------Foto--------------->
<div id="foto">
<h2>Foto</h2>
					<img src="https://lh3.googleusercontent.com/-rlikFeRO-6U/TtiC4FzaTYI/AAAAAAAAAtI/SvAUAGTpLLw/s560/medimex2011.jpg" width="270px">
					<span class="title" style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 14px;">
						<br/>Radiocicletta @MEDIMEX 2011
					</span>
					<br/>
					<span class="subtitle" style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10px;">
						<br/>Pippo e Carlo al Mediterranean Music Expo 2011 di Bari
					</span>
					<br/>
					<a href="http://www.radiocicletta.it/foto.shtml">more...</a>
</div>
<!---------------Video ------->			
<div id="video">
					<h2>Video</h2>
					<iframe width="270" height="213" src="http://www.youtube.com/embed/JhIYeBNEiCA" frameborder="0" allowfullscreen></iframe>
					<span class="title" style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 14px;">
						<br/> Prima sintesi del MEDIMEX 2011
					</span><br/><br/>
					<span class="subtitle" style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10px;">
						Pippo e Carlo, per www.radiocicletta.it, vi raccontano la prima giornata del Mediterranean Music Expo 2011 di Bari, alla Fiera Del Levante 
					</span><br/>
					<a href="http://www.youtube.com/radiocicletta">more...</a>
</div>
</div>				
