{% extends "default.html" %}
{% load disqus_tags simplesocial blog %}
{% block pagetitle %}{{post.title}}{% endblock %}
    
{% block extra-head %}
    {{ block.super }}
    <meta name="description" content="{{ post.rendered_content|striptags|truncatewords:20 }}" />
    {% if review %}
    <meta name="robots" content="noindex, noarchive" />
    {% endif %}
{% endblock %}

{% block bodyleft %}
    <article class="post post-detail socialicons">
        {% if review %}
        <div class="info"><strong>Quella che vedi &egrave; una anteprima dell'articolo</strong></div>
        {% endif %}
        {% include "blog/post.html" %}
        
        <div class="share-this">
            {% wide_social_buttons request post.title post.get_absolute_url %}
            {% narrow_social_buttons request post.title post.get_absolute_url %}
            <p><strong><a class="join-button" href="{{ blog.get_feed_url }}" rel="alternate" title="Receive updates (it's free!)" type="application/rss+xml">Iscriviti al feed RSS del blog "{{ blog.title }}"</a></strong></p>
        </div>
            
            
    </article>
    <section class="social">
        {% disqus_num_replies %}
        {% disqus_show_comments %}
    </section>
    <section class="more-blog">
        <h3>Ultimi articoli di questo blog</h3>
        {% include "blog/recent_posts.html" %}
        <p><strong><a href="http://{{ blog.url_stripped }}.radiocicletta.it">Tutti i post di questo blog &raquo;</a></strong></p>
        {% if post.get_related_posts %}
        <h3>Articoli collegati</h3>
        {% endif %}
        <ul>
            {% for rel in post.get_related_posts %}
            <li><a href="http://{{rel.blog.url_stripped}}.radiocicletta.it{{ rel.url_stripped }}">{{ rel.title|titlecase }}</a> <small>{{ rel.published_on }}</small></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

