{% extends "default.html" %}
{% block pagetitle %}{{ blog.title }}{% endblock %}
{% block extra-head %}
    {{ block.super }}
    {% if page_obj.number == 1 %}
    <meta name="description" content="{{ blog.description|striptags|truncatewords:20 }}" />
    {% endif %}
{% endblock %}

{% block bodyleft %}
    <article class="blog_show_header">
        <header>
            <span class="blogimg"><img src="{{ blog.get_logo.url|default_if_none:'none' }}"/></span>
            <h2 class="blogtitle">{{ blog.title|titlecase }}</h2>
            <p class="onair">
            {% if not blog.blog_generic %}
                {% for airtime in onair %}
                    {{ airtime.startgiorno }} alle {{ airtime.startora|time:"H:i" }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    Attualmente non in programmazione.
                {% endfor %}
            {% endif %}
            </p>
            <p class="desc">{{ blog.description }}</p>
            <div class="external_social"></div>
        </header>
        {% if not recent_posts %}
        <p>Nessun articolo è stato ancora scritto. :(</p>
        {% endif %}
    </article>
    {% for post in recent_posts %}
        <article>
        {% include "blog/post.html" %}
        </article>
    {% endfor %}
<section class="pagenav">
  {% if page_obj.has_next %}
    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">&laquo; Post meno recenti</a>
  {% endif %}
  {% if page_obj.has_previous %}
    <a href="{{ request.path }}{% if page_obj.previous_page_number != 1 %}?page={{ page_obj.previous_page_number }}{% endif %}">Post più recenti &raquo;</a>
  {% endif %}
</section>
{% endblock %}
