{% load simplesocial blog %}

{% if browse_posts %}
<h2><a href="http://{{post.get_blog.url_stripped}}.radiocicletta.it{{ post.url_stripped }}">{{ post.title|titlecase }}</a></h2>
{% else %}
        <h2 class="post_head" data-background-image="url({{ post.get_blog.get_logo.url|default_if_none:'none' }})">
            <a href="http://{{post.get_blog.url_stripped}}.radiocicletta.it{{ post.url_stripped }}">
                <span class="catch_headline">{{post.get_blog}}:</span>
                <span class="headline">{{ post.title|titlecase }}</span>
            </a></h2>
{% endif %}
    <ul class="articleinfo">
        {% if post.author.profile.appear_as_nickname and post.author.profile.nickname %}
        <li>Di: <a href="http://www.radiocicletta.it/p/{{ post.author.profile.nickname}}">{{ post.author.profile.nickname }}</a></li>
        {% else %}
        <li>Di: <a href="http://www.radiocicletta.it/p/{{ post.author.username}}">{{ post.author.get_full_name|default:post.author.username }}</a></li>
        {% endif %}
        <li>
            {{ post.published_on }}
        </li>
        <li>{% for tag in post.get_tags %}
            <a href="http://www.radiocicletta.it/blog/tag/{{tag.strip|urlencode}}">{{tag.strip|capfirst}}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
        </li>
        <li>
        	<a href="http://{{post.get_blog.url_stripped}}.radiocicletta.it{{ post.url_stripped }}#disqus_thread">Commenti</a>
        </li>
    </ul>


<div class="articlecontent socialicons">
{% if browse_posts %}
    {{ post.rendered_content|comicsanitize|rewritesrc|truncatewords_html:150|smarty }}
    <p><a href="http://{{post.get_blog.url_stripped}}.radiocicletta.it{{ post.url_stripped }}" class="readmore">Leggi/commenta l'articolo</a></p>
{% else %}
    {{ post.rendered_content|comicsanitize|rewritesrc|smarty }}
{% endif %}
</div>
