{% extends "blog/default.html" %}
{% block pagetitle %}{{post.title}}{% endblock %}
{% load disqus_tags media simplesocial %}
        
    
    {% block bodyleft %}
    <article class="post post-detail">
        {% if review %}
        <div class="info"><strong>Review mode: Don't tweet this!!!</strong></div>
        {% endif %}
        {% include 'blog/post.html' %}
        
        <div class="share-this">
            {% narrow_social_buttons request post.title post.get_absolute_url %}
        </div>
        <p><a class="join-button" href="{{ blog.get_feed_url }}" rel="alternate" title="Receive updates (it's free!)" type="application/rss+xml">Iscriviti al feed RSS</a></p>
            
            
    </article>
    <section class="social">
        {% disqus_num_replies %}
        {% disqus_show_comments %}
        {% include 'blog/recent_posts.html' %}
        <a href="{{ blog.get_absolute_url }}">Tutti i post di questo blog &raquo;</a>
    </section>
    {% endblock %}

