{% extends "default.html" %}
{% load blog %}
{% block pagetitle %}{{ blog.title }}{% endblock %}
{% block extra-head %}
    {{ block.super }}
    {% if page_obj.number == 1 %}
    <meta name="description" content="{{ blog.description|striptags|truncatewords:20 }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <header class="blog_show_header" data-background-image="url({{ blog.get_logo.url|default_if_none:'' }});">
        <h2 class="blogtitle">{{ blog.title|titlecase }}</h2>
        <p class="desc">{{ blog.description }}</p>
        {% if not blog.blog_generic %}
        <p class="onair">
            {% for airtime in onair %}
                {{ airtime.start_day }} alle {{ airtime.start_hour|time:"H:i" }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                Attualmente non in programmazione.
            {% endfor %}
        </p>
        {% endif %}
    </header>
    <div class="external_social">
        <ul class="socialmenu socialicons">
            {% if blog.show %}
            {% if blog.show.mixcloud_playlist %}
            <li><a href="http://mixcloud.com/radiocicletta/playlists/{{blog.mixcloud_playlist}}" 
                    data-mixcloud="{{blog.mixcloud_playlist}}">Podcast su Mixcloud</a>
            </li>
            {% endif %}
            {% if blog.show.facebook_page_or_user %}
            <li><a href="http://www.facebook.com/{{blog.facebook_page_or_user}}" 
                    data-facebook="{{blog.facebook_page_or_user}}">Facebook</a>
            </li>
            {% endif %}
            {% if blog.show.twitter %}
            <li><a href="http://twitter.com/{{blog.twitter}}" 
                    data-twitter="{{blog.twitter}}">@{{blog.twitter}}</a>
            </li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
    {% if not recent_posts %}
    <p>Nessun articolo è stato ancora scritto. :(</p>
    {% endif %}
    {% for post in recent_posts %}
        <article>
        {% include "blog/post.html" %}
        </article>
    {% endfor %}
<section class="pagenav">
  {% if page_obj.has_next %}
    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">&laquo; Post meno recenti</a>
  {% endif %}
  {% if page_obj.has_previous %}
    <a href="{{ request.path }}{% if page_obj.previous_page_number != 1 %}?page={{ page_obj.previous_page_number }}{% endif %}">Post più recenti &raquo;</a>
  {% endif %}
</section>
{% endblock %}
