{% extends "large.html" %}
{% block pagetitle %}Palinsesto dei programmi{% endblock %}
{% block bodybaronair %}
{% endblock %}

{% block bodyheader %}{% endblock %}

{% block content %}
<article>
    <h2>Palinsesto settimanale</h2>
    <div class="schedulecontainer">
        <table class="schedule">
            <colgroup ></colgroup>
            <colgroup ></colgroup>
            <colgroup ></colgroup>
            <colgroup ></colgroup>
            <colgroup ></colgroup>
            <colgroup ></colgroup>
            <colgroup ></colgroup>
            <thead>
                <tr>
                	<th>Lunedì</th>
                	<th>Martedì</th>
                	<th>Mercoledì</th>
                	<th>Giovedì</th>
                	<th>Venerdì</th>
                	<th>Sabato</th>
                	<th>Domenica</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rowschedule %}
                <tr>
                    {% for evt in row %}
                    {% with forloop.counter as rnum%}
                      <td class="{{ rnum|divisibleby:2|yesno:'odd,even' }}">
                        {% if evt.start_hour != None %}
                                <strong>{{ evt.start_hour|time:"H:i" }} - {{ evt.end_hour|time:"H:i" }}</strong>
                                <a href="http://{{ evt.url }}.radiocicletta.it">{{ evt.title }}</a>
                        {% endif %}
                      </td>
                    {%endwith%}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</article>
<section class="more-blog">
    <h2>Tutti i blog dei programmi</h2>
    <ul>
        {% for b in blogs %}
            {% if not b.blog_generic %}
                <li><a href="http://{{b.url_stripped}}.radiocicletta.it">{{ b.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</section>
{% endblock %}
