{% extends "blog/default.html" %}
{% block pagetitle %}Blogs{% endblock %}
{% block bodybaronair %}
{% endblock %}

{% block bodyheader %}{% endblock %}

{% block bodyleft %}
<article>
    <h2>Palinsesto settimanale</h2>
    <table class="schedule">
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
        <thead>
            <tr>
            	<th>Lunedì</th>
            	<th>Martedì</th>
            	<th>Mercoledì</th>
            	<th>Giovedì</th>
            	<th>Venerdì</th>
            	<th>Sabato</th>
            	<th>Domenica</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rowschedule %}
            <tr class={% cycle 'even' 'odd' %}>
                {% for evt in row %}
                {% if evt.title %}
                    <td rowspan="{{ evt.rowspan }}">
                        <em>{{ evt.startora|time:"H:i" }} - {{ evt.endora|time:"H:i" }}</em>
                        {{ evt.title }}
                    </td>
                {% else%}
                    {% if not evt.busy %}
                        <td>&nbsp;</td>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Tutti i programmi</h2>
    <ul>
        {% for p in programmi %}
        <li><a href="">{{ p.title }}</a></li>
        {{ p.description }}
        {% endfor %}
    </ul>
</article>
{% endblock %}
