{% extends "blog/one.html" %}
{% block pagetitle %}Radiocicletta{% endblock %}
{% block headstyle %}
<link rel="stylesheet" type="text/css" href="http://radiocicletta-static.appspot.com/bxSlider/bx_styles/bx_styles.css" />
<link rel="stylesheet" type="text/css" href="http://radiocicletta-static.appspot.com/css/jquery.loadmask.css" />
<link rel='stylesheet' type='text/css' href="http://radiocicletta-static.appspot.com/css/jquery.weekcalendar-min.css" />
{% endblock %}
{% block headscript %}
<script type='text/javascript' src='http://radiocicletta-static.appspot.com/js/jquery.loadmask.js'></script>
<!--<script type="text/javascript" src="http://radiocicletta-static.appspot.com/js/jquery.qtip-1.0.js"></script>-->
<script type='text/javascript' src='http://radiocicletta-static.appspot.com/libs/jquery-ui-1.8.4.custom.min.js'></script>
<script type='text/javascript' src='http://radiocicletta-static.appspot.com/js/jquery.weekcalendar.js'></script>
<script type="text/javascript" src="http://radiocicletta-static.appspot.com/js/jquery.url.min.js"></script>
<script type="text/javascript" src="http://radiocicletta-static.appspot.com/js/jquery.colors.js"></script>
<script type="text/javascript" src="http://radiocicletta-static.appspot.com/js/progutil.js"></script>
<script type="text/javascript">
        var synched=false;
        var eventData = {events:[]};
        eventData.events=retplis();
        $.getScript('http://radiocicletta-static.appspot.com/js/newprogrammi.js',function(){synched=true;});
            
        function openPopUp(url,target,attributes) {
            popup = window.open(url,target,attributes);
            popup.moveTo((window.screen.availWidth -  520) / 2, (window.screen.availHeight - 550) / 2);//c
        }
        //QUESTO NON SI TOCCA, SERVE A RADIOCICOSO. CHI LO TOCCA E' GAY
        if ($.url.param("retjson")=="yes") {$("body").replaceWith(JSON.stringify(eventData));}
</script>


{% endblock %}
{% block bodybaronair %}
<div id="onair">
 <h2>Ora in onda:</h2>
 <div id="nellaria"></div><h2 style=" margin-left:40px; margin-right:10px;"> A seguire:</h2><div id="offair-prog"></div>
</div>
<div id="playnow">
    <a onclick="openPopUp('http://s5.histats.com/stats/r.php?1686508&100&29542&urlr=&www.radiocicletta.it/jPlayer/player.htm','_new','channelmode=no,directories=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=520,height=550')" href="javascript:void(0)">play now</a>
</div>

{% endblock %}

{% block bodyheader %}<script type='text/javascript'>$(document).ready(function(){inonda();});</script> {% include "blog/headmenu.html" %}{% endblock %}


{% block bodyleft %}
<div class="content">
 <script type="text/javascript">
  document.write('<div id="caption"><div class="content"><img src="icon/load.gif" border="0" alt="Loading ..." /><br/><h3>LOADING</h3></div></div>');
 </script> 
 <noscript>
  <h2>Questa pagina ha bisogno di javascript per funzionare!</h2><br/>
  controlla che il tuo browser lo supporti ed eventualmente procuratene uno adatto.<br/>
  Noi di Radiocicletta ti suggeriamo <br/><a href="http://www.getfirefox.it"><img src="http://www.getfirefox.it/ff/firefox2-bl.png" border="0" alt="Firefox" /></a> 
 </noscript>
 <div id='calendar'></div>
</div>
{% endblock %}
{% block bodyright %}{% include "blog/rightbar.html" %}{% endblock %}
{% block bodyfooter %}{% include "blog/footer.html" %}{% endblock %}
