<div class="content">
				<noscript><div class="warning">Questa pagina ha bisogno di javascript per funzionare al meglio<br/></div></noscript>			
               <!--BOX APP--> 
                <div class="box">
                  	<img src="http://cdndev.radiocicletta.it/images/download/AndroidSH.png" width="50px">
					<br/>	Radiocicletta su Android
                  	<img src="http://qrcode.kaywa.com/img.php?s=5&d=http%3A%2F%2Fdev.radiocicletta.it%2Fapp%2FAndroid%2FRadiocicletta.apk" alt="qrcode"  width="100px"/>
                  	
				</div>	
               	<div class="box">
                  <h2>Social</h2>
                  <ul class="social">
                     <li><a class="facebook" href="http://www.facebook.com/group.php?gid=122353837775674&ref=share">Gruppo ufficiale su Facebook</a></li>
                     <li><a href="https://plus.google.com/101027758625490584692/?prsrc=3" style="text-decoration: none;"><img src="https://ssl.gstatic.com/images/icons/gplus-16.png" width="16" height="16" style="border: 0;"/> Pages ufficiale su Google+</a></li>
                     <li><a class="lastfm" href="http://lastfm.it/group/radiocicletta">Gruppo ufficiale su last.fm</a></li>
                     <li><a class="myspace" href="http://www.myspace.com/radiocicletta">Pagina ufficiale su Myspace</a></li>
                     <li><a class="twitter" href="http://twitter.com/radiocicletta">Twitter</a></li>
                     <li><a class="youtube" href="http://www.youtube.com/user/radiocicletta">Canale ufficiale su youtube</a></li>
                     
                  </ul>
               </div>
                <div class="box">
					<h2>Contatti</h2>
               		<ul class="email">	
               		 <li><address>Dir. Artistica &mdash; <a href="mailto:dir.art@radiocicletta.it" style="text-decoration:none">dir.art@radiocicletta.it</a></address></li>
               		 <li><address>WebMaster &mdash; <a href="mailto:web-dev@radiocicletta.it" style="text-decoration:none">web-dev@radiocicletta.it</a></address></li>
               		 <li><address>Info &mdash; <a href="mailto:radiociclettav@gmail.com" style="text-decoration:none">radiocicletta@gmail.com</a></address></li>
               		</ul>
               </div>
                          
<!-------------- Histats.com  (div with counter) --->
               <div id="histats_counter"></div>
                <!-- Histats.com  START  (aync)--->
                  <script type="text/javascript">var _Hasync= _Hasync|| [];
                  _Hasync.push(['Histats.start', '1,1686508,4,225,112,50,00001001']);
                  _Hasync.push(['Histats.fasi', '1']);
                  _Hasync.push(['Histats.track_hits', '']);
                  (function() {
                  var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
                  hs.src = ('http://s10.histats.com/js15_as.js');
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
                  })();</script>
                  <noscript>
                    <a href="http://www.histats.com" target="_blank"><img  src="http://sstatic1.histats.com/0.gif?1686508&101" alt="utenti online" border="0"></a>
                  </noscript>
                  <!-- Histats.com  END  -->
</div>
