{% extends "service.html" %}
{% block pagetitle %}Errore del server{% endblock %}
{% block bodyleft %}
    <h2>Ooops!</h2>
    <p>Per me si va tra la perduta gente.</p>
    <p><strong>(Un errore del sito impedisce il cammino. <a href="/">Torna alla home</a> o <a onclick="window.open('http://webchat.freenode.net/?channels=radiocicletta&amp;uio=MT1mYWxzZSYxMT02Mg8d', '_blank', 'menubar=no,location=no,toolbar=no,resize=no,resizable=no,scrollbars=no,status=no,width=647,height=400'); return false;"
                    href="http://webchat.freenode.net/?channels=radiocicletta&amp;uio=MT1mYWxzZSYxMT02Mg8d">entra in chat</a> mentre ci arrovelliamo per risolverlo.)</strong></p>
    <img src="http://www.lowbird.com/data/images/2012/08/krautchan-1341497139003.gif"/>
{% endblock %}
