<!DOCTYPE html>
{% load cms blog google_cse google_analytics %}
<html lang="it" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#">
  <head>
	<title>{% block pagetitle %}{% endblock %} — Radiocicletta</title>
	<meta charset="UTF-8">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta property="og:audio" content="http://radiocicletta.it:8000/stream" />
    <meta property="og:locale" content="it_IT" />
    <meta property="og:site_name" content="Radiocicletta" />
    {% block headmeta %}{% endblock %}

    <link rel="stylesheet" href="{% cdnmediaurl %}/css/layout.css"/>
    <link rel="stylesheet" href="{% cdnmediaurl %}/css/media.css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,701italic,300italic,600italic,400,600,300,700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css" />
    <link rel="dns-prefetch" href="api.radiocicletta.it"/>

<!--[if lt IE 9]>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700italic" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:600italic" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet" type="text/css" />
<![endif]-->

    {% block headstyle %}{% endblock %}
    {% block headscript %}{% endblock %}
    {% if not request.user.is_authenticated %}
      {% google_analytics_code %}
    {% endif %}

    {% block blogfeeds %}
      {% blog_feeds %}
    {% endblock %}
    {% block extra-head %}{% endblock %}
  </head>
  <body>
    {% block content-header %}
        {% if error %}<div class="error">{{ error }}</div>{% endif %}
        {% if info %}<div class="info">{{ info }}</div>{% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="info">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{% cdnmediaurl %}/js/zepto.js"></script>
    <script type="text/javascript">
        if ('__proto__' in {}){
            window['jQuery'] = window.Zepto; // Fallback for mediaelement.js (meh.)
        } else {
            document.write('<script src="\/\/html5shiv.googlecode.com\/svn\/trunk\/html5.js"><\/script>');
            document.write('<script type="text/javascript" src="{% cdnmediaurljs %}\/js\/es5-shim.js"><\/script>');
            document.write('<script type="text/javascript" src="{% cdnmediaurljs %}\/js\/jquip\/jquip.js"><\/script>');
            document.write('<script type="text/javascript" src="{% cdnmediaurljs %}\/js\/jquip\/jquip.events.js"><\/script>');
            document.write('<script type="text/javascript" src="{% cdnmediaurljs %}\/js\/jquip\/jquip.docready.js"><\/script>');
            document.write('<script type="text/javascript" src="{% cdnmediaurljs %}\/js\/jquip\/jquip.css.js"><\/script>');
            document.write('<script type="text/javascript" src="{% cdnmediaurljs %}\/js\/jquip\/jquip.ajax.js"><\/script>');
            window['Zepto'] = undefined;
            window['$'] = jquip;
            window['jQuery'] = jquip;
        }
    </script>
    <script type="text/javascript" src="{% cdnmediaurl %}/js/me/mediaelement.js"></script>
    <script type="text/javascript" src="{% cdnmediaurl %}/js/bike.js"></script>
  </body>
</html>
