<!DOCTYPE html>
{% load media cms blog google_cse google_analytics %}
<!DOCTYPE HTML>
<html lang="it">
  <head>
	<title>{% block pagetitle %}{% endblock %} — Radiocicletta</title>
	<meta charset="UTF-8">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="{% cdnmediaurl %}/css/layout.css"/>
    <link rel="stylesheet" href="{% cdnmediaurl %}/css/media.css"/>

    <script type="text/javascript" src="{% cdnmediaurl %}/js/zepto.js"></script>
<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="{% cdnmediaurl %}/js/es5-shim.js"></script>
    <script type="text/javascript" src="{% cdnmediaurl %}/js/jquip/jquip.js"></script>
    <script type="text/javascript" src="{% cdnmediaurl %}/js/jquip/jquip.events.js"></script>
    <script type="text/javascript" src="{% cdnmediaurl %}/js/jquip/jquip.docready.js"></script>
    <script type="text/javascript" src="{% cdnmediaurl %}/js/jquip/jquip.css.js"></script>
    <script type="text/javascript" src="{% cdnmediaurl %}/js/jquip/jquip.ajax.js"></script>
    <script type="text/javascript">
        window['$'] = jquip;
    </script>
<![endif]-->
    <script type="text/javascript" async src="{% cdnmediaurl %}/js/me/mediaelement.js"></script>
    <script type="text/javascript" async src="{% cdnmediaurl %}/js/bike.js"></script>

    {% block headmeta %}{% endblock %}
    {% block headstyle %}{% endblock %}
    {% block headscript %}{% endblock %}
    {% if not request.user.is_authenticated %}
      {% google_analytics_code %}
    {% endif %}

    {% block blogfeeds %}
      {% blog_feeds %}
    {% endblock %}
    {% block extra-head %}{% endblock %}
  </head>
  <body>
    {% block content-header %}
        {% if error %}<div class="error">{{ error }}</div>{% endif %}
        {% if info %}<div class="info">{{ info }}</div>{% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="info">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block body %}{% endblock %}
  </body>
</html>
