{% extends "commonlayout.html" %}
{% block layoutcontent %}
<div id="content">
    <div class="fluid">
        <nav class="adjustablemenu">
            <h2>Programmi</h2>
            <ul>
            {% for day, order, list in schedule %}
                {% if list %}
                <li><a href="/programmi/{{day}}">{{day}}</a>
                    <ul class="submenu">
                    {% for p in list %}
                        <li><a href="{{ p.get_blog.url }}">{{ p.title }}</a></li>
                    {% endfor %}
                </ul></li>
                {% endif %}
             {% endfor %}
            </ul>
        </nav>
        <div class="main">
        {% block bodyleft %}{% endblock %}
        {% block content %}{% endblock %}
        </div>
    </div>
</div>
<div id="sidebar">
    <div class="side">
        <div class="now">
            <!--<p>
                <em>Ora in onda:</em>
                <a href="">Musica No Stop</a>
                </p>-->
                <p><a   onclick="window.open('http://webchat.freenode.net/?channels=radiocicletta&amp;uio=MT1mYWxzZSYxMT02Mg8d', '_blank', 'menubar=no,location=no,toolbar=no,resize=no,resizable=no,scrollbars=no,status=no,width=647,height=400'); return false;"
                    href="http://webchat.freenode.net/?channels=radiocicletta&amp;uio=MT1mYWxzZSYxMT02Mg8d">
                Entra in chat</a></p>
        </div>
        {%block bodyright %}{% endblock %}
        <section id="todayschedule" class="todayschedule">
            <h2>Oggi in onda</h2>
                <ul>
                    {% for p in today_schedule %}
                    <li><span class="time">{{p.startora|capfirst}}</span> &mdash; <a href="{{ p.get_blog.url }}">{{ p.title }}</a></li>
                    {% endfor %}
                </ul>
        </section>
        <section id="box_mixcloud" class="panel">
            <h2>Replicanda</h2>
            <p>I nostri ultimi podcast da <a href="http://mixcloud.com/radiocicletta">Mixcloud</a></p>
        </section>
        <section id="box_social" class="panel socialicons">
            <h2>Socializzanda</h2>
            <p>Che si dice nella rete</p>
        </section>
        <section class="panel">
            <h2>Propaganda</h2>
            <p>Dacci €Danaro! We need $Money! ¢Dinero Por Favor!</p>
        </section>
    </div>
</div>
{% endblock %}
