{% extends "base.html" %}
{% block body %}
{% load blog %}
<h1><a href="/">Radiocicletta &mdash; Web Radio</a></h1>
<nav class="toplevel">
    
    <ul>
        <li><a href="/home" class="home">Home</a></li>
    	<li><a href="/programmi" class="schedule">Programmi</a></li>
    	<li><a href="/blogs" class="blogs">Blogs</a></li>
    	<li><a href="/chisiamo" class="faq">Chi siamo</a></li>
    	<li><a href="/downloads" class="downloads">Download</a></li>
    	<li><a href="/aiutaci" class="help">Aiutaci</a></li>
    </ul>
</nav>
<div id="playercontainer">
    <div id="player">
        <audio id="audiosrc" preload="none" src="http://radiocicletta.it:8000/stream"></audio>
        <noscript><div><a href="http://radiocicletta.it/listen.pls">&#9654;
                    Ascolta radiocicletta da questo link usando il tuo player (VLC, Winamp, Mplayer, iTunes...)</a></div></noscript>
    </div>
</div>
<noscript>
    <div>
        Per poter usare tutte le funzionalità del sito devi abilitare Javascript sul tuo browser.
    </div>
</noscript>

<div id="body">
<div id="content">
    <div class="fluid">
        <nav class="adjustablemenu">
            <h2>Programmi</h2>
            <ul>
            {% for day, order, list in schedule %}
                {% if list %}
                <li><a href="/programmi/{{day}}">{{day}}</a>
                    <ul class="submenu">
                    {% for p in list %}
                        <li><a href="{{ p.blog.url }}">{{ p.title }}</a></li>
                    {% endfor %}
                </ul></li>
                {% endif %}
             {% endfor %}
            </ul>
        </nav>
        <div class="main">
        {% block bodyleft %}{% endblock %}
        {% block content %}{% endblock %}
        </div>
    </div>
</div>
<div id="sidebar">
    <div class="side">
        <div class="now">
            <!--<p>
                <em>Ora in onda:</em>
                <a href="">Musica No Stop</a>
                </p>-->
                <p><a   onclick="window.open('http://webchat.freenode.net/?channels=radiocicletta&amp;uio=MT1mYWxzZSYxMT02Mg8d', '_blank', 'menubar=no,location=no,toolbar=no,resize=no,resizable=no,scrollbars=no,status=no,width=647,height=400'); return false;"
                    href="http://webchat.freenode.net/?channels=radiocicletta&amp;uio=MT1mYWxzZSYxMT02Mg8d">
                Entra in chat</a></p>
        </div>
        {%block bodyright %}{% endblock %}
        <section id="todayschedule" class="todayschedule">
            <h2>Oggi in onda</h2>
        </section>
        <section id="box_mixcloud" class="panel">
            <h2>Replicanda</h2>
            <p>Gli ultimi podcast</p>
        </section>
        <section id="box_social" class="panel socialicons">
            <h2>Socializzanda</h2>
            <p>Che si dice nella rete</p>
        </section>
        <section class="panel">
            <h2>Propaganda</h2>
            <p>Dacci €Danaro! We need $Money! ¢Dinero Por Favor!</p>
        </section>
    </div>
</div>
</div>
<footer>
    <nav class="foot">
        <div class="menu">
            <h2>Radiocicletta</h2>
            <ul>
            	<li><a href="/">Home</a></li>
            	<li><a href="/programmi">Programmi</a></li>
            	<li><a href="/blogs">Blogs</a></li>
            	<li><a href="/chisiamo">Chi siamo</a></li>
                <li><a href="/aiutaci">Aiutaci</a></li>
            </ul>
        </div>
        <div class="menu">
        	<h2>Social</h2>
        	<ul>
                <li><a href="http://www.facebook.com/radiocicletta">Facebook</a></li>
                <li><a href="http://twitter.com/#!/radiocicletta">Twitter</a></li>
                <li><a href="http://www.mixcloud.com/radiocicletta/">Mixcloud</a></li>
                <li><a href="https://plus.google.com/u/0/102138918057452969670/posts">Google+</a></li>
                <li><a href="http://www.lastfm.it/user/radiocicletta">Last.fm</a></li>
                <li><a href="">Myspace</a></li>
                <li><a href="http://radiocicletta.tumblr.com/">Tumblr</a></li>
                <li><a href="www.youtube.com/user/radiocicletta">Youtube</a></li>
            </ul>
        </div>
        <div class="menu">
        	<h2>Sviluppatori</h2>
        	<ul>
                <li><a href="http://github.com/radiocicletta">Radiocicletta on Github</a></li>
        		<li><a href="http://www.icecast.org">IceCast</a></li>
        		<li><a href="http://ross.sourceforge.net/">Linux Broadcasting</a></li>
        	</ul>
        </div>
        <div class="menu">
        	<h2>Robe noiose</h2>
        	<ul>
        		<li><a href="http://validator.w3.org/check?uri=http%3A%2F%2Fradiocicletta.it%2F">Valid HTML5</a></li>
        	</ul>
        </div>
    </nav>
    <address>
        Associazione culturale Radiocicletta &mdash; Centro Passi, Pisa
        Powered by <a href="http://www.allbuttonspressed.com/projects/django-nonrel">Django-nonrel</a>,
        <a href="http://code.google.com/appengine/">App Engine</a>, and
        <a href="http://www.allbuttonspressed.com/projects/allbuttonspressed">All Buttons Pressed</a>
    </address>
</footer>
{% endblock %}
